version: '3.8'

services:
  wordpress:
    build: .
    container_name: wordpress
    ports:
      - "8000:80"
    volumes:
      - ./wp-content:/var/www/html/wp-content
      - node_modules:/var/www/html/wp-content/plugins/my-awesome-plugin/node_modules
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
    depends_on:
      - db

  db:
    # MariaDB is much more stable on Mac M1/M2/M3 than MySQL 5.7
    image: mariadb:10.6
    container_name: wordpress_db
    restart: always
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db_data:/var/lib/mysql
    
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: wordpress_phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root
    
volumes:
  db_data:
  node_modules: